.pair-list-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category-type {
  margin: 10px 0 0 8px;
}

.pair-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0;
}
